PORT=5000
NODE_ENV=development

# MongoDB URI — أنشئ cluster مجاني على mongodb.com
MONGO_URI=mongodb+srv://tzabulaban_db_user:6XJusoqiZQiFmd3X@cluster.mongodb.net/pokebattle

# JWT Secret — غيّره لنص عشوائي طويل
JWT_SECRET=hellobabypokemaster
JWT_EXPIRES_IN=7d

# Client URL (للـ CORS)
CLIENT_URL=http://localhost:3000
