.badge {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.sm  { font-size: 7px;  padding: 2px 5px; }
.md  { font-size: 9px;  padding: 2px 7px; }
.lg  { font-size: 11px; padding: 3px 10px; }
